
@media only screen and (max-width: 1000px){
	
		.header_bottom {
		background-color: #1f1f1f;
	}
				.header_bottom,
		nav.mobile_menu{
				background-color: #1f1f1f !important;
		}
		
	 		.subtitle{
			font-size: 20px;
		}
	 					.title h1,
		.title h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:40px;
		}
		
		
						
			
					
	
	}

@media only screen and (min-width: 600px) and (max-width: 768px){
				.title h1,
		.title h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:30px;
		}
							
			.subtitle{
			font-size: 17.5px;
		}
	 }

@media only screen and (min-width: 480px) and (max-width: 768px){
	        section.parallax_section_holder{
		height: auto !important;
		min-height: 400px !important;
	}
		
	}

@media only screen and (max-width: 600px){
				.title h1,
		.title h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:25px;
		}
							
	}

@media only screen and (max-width: 480px){

				.title h1,
		.title h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:20px;
		}
								
		section.parallax_section_holder{
		height: auto !important;
		min-height: 400px !important;
	}
		
	
	}