extends views/templates/layout
block content
	.post--display
		.d--flex
			.d--post
				+hex("www.solopx.com")
				h2 Sample title
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere suscipit, natus sapiente quidem minus quis iste, provident pariatur atque dolorem officiis officia tempora cum vitae dicta itaque maxime voluptatem debitis.
			.d--post
				+hex("www.solopx.com")
				h2 Sample title
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere suscipit, natus sapiente quidem minus quis iste, provident pariatur atque dolorem officiis officia tempora cum vitae dicta itaque maxime voluptatem debitis.
			.d--post
				+hex("www.solopx.com")
				h2 Sample title
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere suscipit, natus sapiente quidem minus quis iste, provident pariatur atque dolorem officiis officia tempora cum vitae dicta itaque maxime voluptatem debitis.
			.d--post
				+hex("www.solopx.com")
				h2 Sample title
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere suscipit, natus sapiente quidem minus quis iste, provident pariatur atque dolorem officiis officia tempora cum vitae dicta itaque maxime voluptatem debitis.

	.container-hex
		h3.text-center multiple elem.
		.content-hex.inlineHex
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
		br
		hr
		br
		h3.text-center 7 elem.
		.content-hex.sevenHex
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
		br
		hr
		br
		h3.text-center 6 elem. (fake one)
		.content-hex.sevenHex
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex()
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
		br
		hr
		br
		h3.text-center 5 elem. invert
		.content-hex.fiveHex.fiveHex__invert
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
		br
		hr
		br
		h3.text-center 5 elem. normal
		.content-hex.fiveHex.fiveHex__normal
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
		br
		hr
		br
		h3.text-center 4 elem. center
		.content-hex.fourHex.fourHex__invert
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
	br
	br
	h1 Medium
	br
	br
	.container-hex--m
		h3.text-center multiple elem.
		.content-hex--m.inlineHex--m
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
		br
		hr
		br
		h3.text-center 7 elem.
		.content-hex--m.sevenHex--m
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
		br
		hr
		br
		h3.text-center 6 elem. (fake one)
		.content-hex--m.sevenHex--m
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m()
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
		br
		hr
		br
		h3.text-center 5 elem. invert
		.content-hex--m.fiveHex--m.fiveHex--m__invert
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
		br
		hr
		br
		h3.text-center 5 elem. normal
		.content-hex--m.fiveHex--m.fiveHex--m__normal
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
		br
		hr
		br
		h3.text-center 4 elem. center
		.content-hex--m.fourHex--m.fourHex--m__invert
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")
			+hex--m("www.solopx.com")
			+hex--m("www.calinalefter.com")