extends views/templates/layout
block content
	.container-hex
		h3.text-center multiple elem.
		.content-hex.inlineHex
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
		br
		hr
		br
		h3.text-center 7 elem.
		.content-hex.sevenHex
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
		br
		hr
		br
		h3.text-center 6 elem. (fake one)
		.content-hex.sevenHex
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex()
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
		br
		hr
		br
		h3.text-center 5 elem. invert
		.content-hex.fiveHex.fiveHex__invert
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
		br
		hr
		br
		h3.text-center 5 elem. normal
		.content-hex.fiveHex.fiveHex__normal
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
		br
		hr
		br
		h3.text-center 4 elem. center
		.content-hex.fourHex.fourHex__invert
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")
			+hex("www.solopx.com")
			+hex("www.calinalefter.com")